*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: #DDDBC4;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(176,176,176);
    background: linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 1000;
}

img {
    height: 120px;
    margin-left: 20vh;
    border-radius: 50%;
    margin-top: 10px;
}

#logo {
    display: flex;
}

#logo h1 {
    margin-top: 5vh;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 2vh;
    padding: 2vh;
}

li {
    padding: 2rem;
}

li a {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 600;
    margin: auto 0;
    color: black;
}

li a:hover {
    background-color: gray;
    transition: 1s;
    border-radius: .5rem;
}

main {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
    margin-top: 20vh;
}

#form {
    grid-column: 2 / 3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#form h2 {
    font-size: 35px;
    text-align: center;
}

span {
    color: #ad552c;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgb(88, 57, 57);
}

#video {
    grid-column: 2 / 3;
    justify-self: center;
    position: relative;
    display: block;
    width: 90%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
}

#video iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    column-gap: 3rem;
}

#price ul {
    display: block;
    list-style-type:initial;
    margin-top: 0;
}

#price li {
    color: rgb(219, 219, 219);
}

#price span {
    color: #522207;
}

#price h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

#price h3 {
    font-size: 20px;
    margin: 20px 0 0 20px;
}

@media only screen and (max-width: 768px) {
    
    #price {
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    .bi-fire {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        display: block;
    }
    #nav-bar ul {
        gap: 1vw;
    }
    #logo img {
        height: 80px;
    }
}

#sub-price1, #sub-price2, #sub-price3 {
    width: 35rem;
    height: 60rem;
    background-color: #CC6333;
    justify-self: center;
    border-radius: 2rem;
}

#sub-price1, #sub-price2, #sub-price3 li {
    font-size: 18px;
    font-weight: 600;
}

#mount {
    display: grid;
}

#mount a {
    margin-top: -20px;
    padding: 2rem 4rem;
    background-color: #ffffff;
    justify-self: center;
    border-radius: 5px;
    color: #000000;
}

#sub-price3 a {
    font-size: 18px;
}

#price-title {
    display: grid;
    grid-column: 2 / 3;
    text-align: center;
    margin: 8rem 0 2rem;
    font-size: 35px;
}

#desc {
    display: grid;
    grid-column: 2 / 3;
    margin-top: 8rem;
    gap: 10rem;
}

.desc-container {
    display: flex;
    gap: 20px;
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

.icon {
    margin-top: 2px;
}

.divisor {
    height: 2px;
    width: 100%;
    background-color: black;
    grid-column: 2 / 3;
    margin: 8rem 0;
    justify-self: center;
}

#sub-button {
    padding: 1rem 3rem;
    background-color: rgb(148, 199, 148);
    border-radius: 5px;
    margin-bottom: 10rem;
}

#sub-button:hover {
    cursor: pointer;
    background-color: gray;
}

#mail {
    margin-top: 4rem;
    padding: .5rem 5rem;
}